# Web Scraping

Import the required libraries

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

Download the webpage at the url

In [3]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html'

response = requests.get(url).text

Create a soup object

In [4]:
soup = BeautifulSoup(response, 'html.parser')

Scrape the `Language name` and `annual average salary`.

In [5]:
table = soup.find('table')

rows = table.find_all('tr')

language_name = []
annual_salary = []

for row in rows[1:]:
    col = row.find_all('td')
    language_name.append(col[1].text.strip())
    annual_salary.append(col[3].text.strip())
    
data = {'Languages': language_name, 'Annual_Salary': annual_salary}
df = pd.DataFrame(data)


df

    Languages Annual_Salary
0      Python      $114,383
1        Java      $101,013
2           R       $92,037
3  Javascript      $110,981
4       Swift      $130,801
5         C++      $113,865
6          C#       $88,726
7         PHP       $84,727
8         SQL       $84,793
9          Go       $94,082

__Swift and Python are among the highest-paid programming languages, while SQL and Go are on the lower end of the salary spectrum.__

Save the scrapped data into a file named *popular-languages.csv*

In [6]:
df.to_csv(r'C:\Users\Steven\OneDrive\Documents\Python\Project\Capstone Project\popular_languages.csv', index=False)